<header id="nav-menu" aria-label="navigation bar">
    <div class="nav-container">
        <div class="nav-start">
            <a class="logo" href="/">
                <img src="/assets/logo.png"
                    height="35" alt="Inc Logo" />
            </a>
        </div>

        <div class="nav-end">
            <nav class="menu">
                <ul class="menu-bar">
                    <li>
                        <li><a class="nav-link" href="/">Home</a></li>
                        <button class="nav-link dropdown-btn" data-dropdown="dropdown1" aria-haspopup="true"
                            aria-expanded="false" aria-label="browse">
                            Furniture
                            <i class="bx bx-chevron-down" aria-hidden="true"></i>
                        </button>
                        <div id="dropdown1" class="dropdown">
                            <ul role="menu">
                                <!-- <li>
                                    <span class="dropdown-link-title">Browse Categories</span>
                                </li> -->
                                <li role="menuitem">
                                    <a class="dropdown-link" href="#branding">Branding</a>
                                </li>
                                <li role="menuitem">
                                    <a class="dropdown-link" href="#illustrations">Illustration</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <button class="nav-link dropdown-btn" data-dropdown="dropdown2" aria-haspopup="true"
                            aria-expanded="false" aria-label="discover">
                            Home Décor
                            <i class="bx bx-chevron-down" aria-hidden="true"></i>
                        </button>
                        <div id="dropdown2" class="dropdown">
                            <ul role="menu">
                                <!-- <li>
                                    <span class="dropdown-link-title">Browse Categories</span>
                                </li> -->
                                <li role="menuitem">
                                    <a class="dropdown-link" href="#branding">Branding</a>
                                </li>
                                <li role="menuitem">
                                    <a class="dropdown-link" href="#illustrations">Illustration</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a class="nav-link" href="/contact-us.html">Contact us</a></li>
                    <li><a class="nav-link" href="/about-us.html">About</a></li>
                </ul>
            </nav>

            <button id="hamburger" aria-label="hamburger" aria-haspopup="true" aria-expanded="false">
                <i class="bx bx-menu" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</header>