<header id="nav-menu" aria-label="navigation bar">
    <div class="nav-container">
        <div class="nav-start">
            <a class="logo" href="/">
                <img src="https://ik.imagekit.io/onbyl4vyfa/silverline%20assets/logo.png?updatedAt=1737200929196"
                    height="45" alt="Inc Logo" />
            </a>
        </div>

        <div class="nav-end">
            <nav class="menu">
                <ul class="menu-bar">
                    <li>
                        <button class="nav-link dropdown-btn" data-dropdown="dropdown1" aria-haspopup="true"
                            aria-expanded="false" aria-label="browse">
                            Furniture
                            <i class="bx bx-chevron-down" aria-hidden="true"></i>
                        </button>
                        <div id="dropdown1" class="dropdown">
                            <ul role="menu">
                                <!-- <li>
                                    <span class="dropdown-link-title">Browse Categories</span>
                                </li> -->
                                <li role="menuitem">
                                    <a class="dropdown-link" href="/products.html?category=furniture&subCategory=bistro-tables">Bistro Tables</a>
                                </li>
                                <li role="menuitem">
                                    <a class="dropdown-link" href="/products.html?category=furniture&subCategory=coffee-tables">Coffee Tables</a>
                                </li>
                                <li role="menuitem">
                                    <a class="dropdown-link" href="/products.html?category=furniture&subCategory=console-pillars">Console Pillars</a>
                                </li>
                                <li role="menuitem">
                                    <a class="dropdown-link" href="/products.html?category=furniture&subCategory=side-tables">Side Tables</a>
                                </li>
                                <li role="menuitem">
                                    <a class="dropdown-link" href="/products.html?category=furniture&subCategory=stools">Stools</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <button class="nav-link dropdown-btn" data-dropdown="dropdown2" aria-haspopup="true"
                            aria-expanded="false" aria-label="discover">
                            Home Decor
                            <i class="bx bx-chevron-down" aria-hidden="true"></i>
                        </button>
                        <div id="dropdown2" class="dropdown">
                            <ul role="menu">
                                <!-- <li>
                                    <span class="dropdown-link-title">Browse Categories</span>
                                </li> -->
                                <li role="menuitem">
                                    <a class="dropdown-link" href="/products.html?category=home-decor&subCategory=bowls">Bowls</a>
                                </li>
                                <li role="menuitem">
                                    <a class="dropdown-link" href="/products.html?category=home-decor&subCategory=candles-stands">Candles Stands</a>
                                </li>
                                <li role="menuitem">
                                    <a class="dropdown-link" href="/products.html?category=home-decor&subCategory=trays">Trays</a>
                                </li>
                                <li role="menuitem">
                                    <a class="dropdown-link" href="/products.html?category=home-decor&subCategory=vases">Vases</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a class="nav-link" href="/contact-us.html">Contact us</a></li>
                    <li><a class="nav-link" href="/about-us.html">About</a></li>
                </ul>
            </nav>

            <button id="hamburger" aria-label="hamburger" aria-haspopup="true" aria-expanded="false">
                <i class="bx bx-menu" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</header>