* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-section {
  /* margin: 2rem auto; */
  max-width: 75rem;
  padding: 2rem 1rem;
}

@media only screen and (max-width: 50rem) {
  .home-section {
    /* margin-inline: 2rem;
    margin-block: 3.125rem; */
  }
}

.d-grid {
  display: grid;
}
