
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');


body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
   
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main > div {
    max-width: 75rem;
    margin: 0 auto;
    padding-block: 1rem;
    text-transform: capitalize;
}

main > div > h1 {
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.1;
    letter-spacing: 0.03em;
    font-size: clamp(2.5rem, 4vw, 3rem);
    padding: 0 1rem;
    z-index: 1;
    width: 100%;
    word-break: break-word;
    text-align: center;
}

.productContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;  
}

.productCard {
   transition: all 500ms linear;
}

.productCard:hover {
    transform: scale(1.02);
}

.productImage {
    width: clamp(12rem, 25vw, 21rem);
}

.productDetails {
    padding: 6px 12px;
}

.productDetails h3 {
    color: black;
    text-align: center !important;
    text-decoration: none;
}

.viewbtn {
    width: 100%;
    background-color: black;
    padding: 16px 12px;
}

@media (max-width: 769px){
    .productContainer {
        grid-template-columns: repeat(2, 1fr);
    }
    .productImage {
        width: clamp(12rem, 38vw, 32rem);
    }
}


@media (max-width: 530px){
    .productContainer {
        grid-template-columns: repeat(1, 1fr);
    }
    .productImage {
        width: 100% !important;
    }
}